 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the event</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<p><img src="/img/gs-logo.png" alt="" class="img-responsive" /></p>

		<p>The Global Summit brings together the community of
experts, academics, and activists who comprise the Creative Commons
		  affiliate network in a different country every two years.</p>

		
                    <p>After an exhaustive process, we're proud to
		      announce that the 2015 CC Global Summit will be in Seoul.</p>

<p>This year, we hope to not only build a conference that allows the CC
family to come together to work on important issues, but also to
expand our invitation list to include organizations and individuals
who want to work with us on shared projects that advance the cause of
  the Commons, free culture and open knowledge. </p>

		  <p>So if you're active and engaged in the worlds of open content and knowledge &mdash; free software advocates, Wikipedians, Open Knowledge, galleries, libraries, museums, archives, governments and foundations, lawyers, and activists &mdash; we hope you'll consider joining us this year to build a stronger, more vibrant commons together.</p>
                </div>
            </div>
        </div>
    </section>
