 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the event</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Global Summit brings together the community
of experts, academics, and activists who comprise the Creative Commons
affiliate network in a different country every two
years. Representatives of affiliated institutions will be present in
XXXXXXXX, with the support and organization of the locally based
XXXXXX and XXXXXX.
</p>
                </div>
                <div class="col-lg-4">
                    <p>The summit agenda includes more than 60
sessions and panel presentations on topics such as copyright reform;
CC licenses in educational, cultural, and artistic projects;
relationships with governments, academia, and civil society; and the
development of business models with an open and collaborative
structure</p>
                </div>
            </div>
        </div>
    </section>
