<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Anti-harrassment policy</h2>
          <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">

	<p>This is a full detailed anti-harassment policy from the <a href="/conduct">code-of-conduct</a>.</p>

	<p>All attendees, speakers, sponsors and volunteers at our
	conference are required to agree with the following code of
	conduct. Organisers will enforce this code throughout the
	event. We are expecting cooperation from all participants to
	help ensure a safe environment for everybody.</p>

	<p>The Creative Commons Global Summit is dedicated to
	providing a harassment-free conference experience for everyone
	regardless of gender, gender identity and expression, sexual
	orientation, disability, physical appearance, body size, race,
	age or religion. We do not tolerate harassment of conference
	participants in any form. Sexual language and imagery is not
	appropriate for any conference venue, including
	talks. Conference participants violating these rules may be
	sanctioned or expelled from the conference without a refund at
	the discretion of the conference organizers.</p>
	
	<p>Harassment includes verbal comments that reinforce social
	structures of domination related to gender, gender identity
	and expression, sexual orientation, disability, physical
	appearance, body size, race, age, religion; sexual images in
	public spaces; deliberate intimidation; stalking; following;
	harassing photography or recording; sustained disruption of
	talks or other events; inappropriate physical contact; and
	unwelcome sexual attention. Participants asked to stop any
	harassing behavior are expected to comply immediately.</p>

	<p>Sponsors and exhibitors are also subject to the
	anti-harassment policy. In particular, exhibitors should not
	use sexualized images, activities, or other material, and
	their staff (including volunteers) should not use sexualized
	clothing/uniforms/costumes, or otherwise create a sexualized
	environment.</p>

	<p>If a participant engages in harassing behavior, the
	conference organizers may take any action they deem
	appropriate, including warning the offender or expulsion from
	the conference with no refund. If you are being harassed,
	notice that someone else is being harassed, or have any other
	concerns, please contact a member of conference staff
	immediately. Conference staff can be identified by special
	badges.</p>

	<p>Conference staff will be happy to help participants contact
	hotel/venue security or local law enforcement, provide
	escorts, or otherwise assist those experiencing harassment to
	feel safe for the duration of the conference. We value your
	attendance.</p>

	<p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>

	<p>Last modified: Wed Jul  8 10:25:07 EDT 2015</p>
	
	<hr />

	<p>This document draws on <a href="http://confcodeofconduct.com/">http://confcodeofconduct.com/</a>,  <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; <a href="https://adainitiative.org/">The Ada Initiative</a>.</p>
	
      </div>
    </div>
  </div>
</section>
