    <section id="about">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Participation and Proposals</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<p>Proposals for talks, workshops, hackathons, panels, presentations, performances, showcases and other activities are welcome.</p>

		<p class="text-center"><a href="https://donate.creativecommons.org/civicrm/event/register?reset=1&id=12" class="btn btn-success btn-lg">Submit your proposal</a></p>

<p>Proposals that involve collaboration with local communities, public offices, or businesses and organizations not directly part of the Creative Commons community are welcome and encouraged.</p>

<p>Those who submit proposals will be given priority for scholarships to attend the Summit, although scholarships cannot be guaranteed.</p>

<p>A selection committee made up of Creative Commons community representatives from around the world will review all proposals and select sessions for the Summit.</p>

<h3>Key Dates:</h3>

<ul>
  <li>June 18 &mdash; call for participation/proposals announced</li>
  <li>July 7 &mdash; offline-proposal submission deadline</li>
  <li>August &mdash; session proposers notified of whether proposal is accepted or declined</li>
  <li>End of August &mdash; Summit program is announced</li>
  <li>October 14 -17 &mdash; Global Summit</li>
</ul>

		<p>Submit your proposal now and join us in
		celebrating, working on, and building the future of
		  the Commons.</p>

		<h2>Offline submission form</h2>

		<p>If you would prefer to submit a proposal offline, please send an email to <a href="mailto:info@creativecommons.org">info@creativecommons.org</a> answering the following questions.</p>


		<ul>
		  <li>Session Title</li>
		  <li>Which Global Summit day works best for your session?

		    <dl>
		      <dt><a href="/program-draft" target="_blank">See the draft program for the summit</a></dt>
		      <dd>
			<ul>
			  <li>
			    Day 0 -- Wednesday October 14 - Pre-conference (regional meetings, special interest meet ups, mini-conferences, fun workshops and parties)
			  </li>
			  <li>			    
			    Day 1 -- Thursday October 15 - Celebration of Sharing (public showcasing event celebrating the value of Creative Commons)
			  </li>
			  <li>
			    Day 2 -- Friday October 16 - Work of Sharing (open community working groups collaborate on solving the issues of today)
			  </li>
			  <li>
			    Day 3 -- Saturday October 17 - The Future of Sharing (Creative Commons community meets to discuss big picture plans for its future)
			  </li>
		      </dd>
		    </dl>
		  </li>
		  <li>What is the format or type of session you want to do? Talks (30-60 min), Lightning Talks (5-10 min), Workshop, Hackathon/Sprint, Panel, Presentation, Other</li>
		  <li>Abstract</li>
		  <li>Detailed description</li>
		  <li>Speakers/Facilitators
		    <dl>
		      <dt>Please list one speaker per line.</dt>
		      <dd>Provide names and affiliation of speakers/facilitators. (Note: if additional speakers are planned please list them but indicate "To be confirmed".)</dd>
		    </dl>
		  </li>
		  <li>Language of Session</li>
		  <li>Technical requirements
		    <dl>
		      <dt>Please be as detailed as possible here.</dt>
		      <dd>Tell us your computer's operating system, if you need ethernet, if you need to use a projector, if you intend to play sound from your computer, etc.</dd>
		  </li>
		  <li>Session Resources
		    <dl>
		      <dt>Please add links to already existing resources you plan to use in your session.</dt>
		    </dl>
		  </li>
		  <li>Session tags: data, culture/GLAM, policy, education, platforms, legal, technology, copyright reform/advocacy, open access, business models, government</li>

		  <li>Which Creative Commons license will you make your session available using?</li>
		  

		  <li>Name</li>
		  <li>Email address</li>
		  <li>Country</li>
		  <li>Organization/Affiliation</li>
		  <li>Website</li>
		  <li>What action, change, or results are you hoping your session generates?</li>
		  </ul>

		  <p>Please email your answer to all of the above questions no later than July 7th. Submissions may be made online until July 17th</p>
		
              </div>
            </div>
        </div>
    </section>
