    <section id="about">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Participation and Proposals</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<figure>
		<img class="img-responsive" src="/img/jrwooley6-by-sa.jpg" />
		  <figcaption>Paper Lantern Wishes by <a href="https://www.flickr.com/photos/jordan_wooley/2489322955/in/photostream/">Jrwooley6</a> &mdash; <small><a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Attribution Share-Alike License</a></small></figcaption>
		</figure>
		
<p>The Creative Commons global summit takes place every two years bringing together our global affiliate network along with partners, activists, and collaborators in the open movement to celebrate and advance the Commons. We're pleased to announce the call for participation and proposals for this years Global Summit in Seoul, South Korea, October 15-17 2015, is now open.</p>

		<p>Proposals for talks, workshops, hackathons, panels, presentations, performances, showcases and other activities are welcome.</p>

		<p class="text-center"><a href="" class="btn btn-success btn-lg">Submit your proposal (TODO: fix this)</a></p>

<p>Proposals that involve collaboration with local communities, public offices, or businesses and organizations not directly part of the Creative Commons community are welcome and encouraged.</p>

<p>Those who submit proposals will be given priority for scholarships to attend the Summit, although scholarships cannot be guaranteed.</p>

<p>A selection committee made up of Creative Commons community representatives from around the world will review all proposals and select sessions for the Summit.</p>

<h3>Key Dates:</h3>

<ul>
  <li>June 17 &mdash; call for participation/proposals announced</li>
  <li>July 17 &mdash; proposal submission deadline</li>
  <li>August &mdash; session proposers notified of whether proposal is accepted or declined</li>
  <li>End of August &mdash; Summit program is announced</li>
  <li>October 14 -17 &mdash; Global Summit</li>
</ul>

		<p>Submit your proposal now and join us in
		celebrating, working on, and building the future of
		  the Commons.</p>

		<figure>
		  <img class="img-responsive" src="/img/tracy-hunter-by.jpg" />
		  <figcaption>Seoul, Korea by <a href="https://www.flickr.com/photos/tracyhunter/15754131282/">Tracy Hunter</a> &mdash; <small><a rel="license" href="http://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution License</a></small></figcaption>
		</figure>
		
		
		
              </div>
            </div>
        </div>
    </section>
