    <section id="about">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Participation and Proposals</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<p>Submission is now closed.</p>
		
<p>A selection committee made up of Creative Commons community representatives from around the world will review all proposals and select sessions for the Summit.</p>

<h3>Key Dates:</h3>

<ul>
  <li>June 18 &mdash; call for participation/proposals announced</li>
  <li>July 22 &mdash; proposal submission deadline</li>
  <li>August &mdash; session proposers notified of whether proposal is accepted or declined</li>
  <li>End of August &mdash; Summit program is announced</li>
  <li>October 14 -17 &mdash; Global Summit</li>
</ul>
		
		
              </div>
            </div>
        </div>
    </section>
