<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Global Summit Code of Conduct</h2>
          <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">


<p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensure a safe environment for everybody.</p>

	<h3>The Deed (aka the short version)</h3>

<p>The Creative Commons Global Summit is dedicated to providing a harassment-free conference experience for everyone regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers. Our full anti-harassment policy can be found at: <a href="https://summit.creativecommons.org/anti-harassment-policy/">https://summit.creativecommons.org/anti-harassment-policy/</a></p>

	<p>Last modified: Wed Jul  8 10:25:07 EDT 2015</p>

	<hr />

	<p>This document draws on http://confcodeofconduct.com/,  http://2012.jsconf.us/#/about & The Ada Initiative.</p>
      </div>
    </div>
  </div>
</section>
