
<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Register now</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center"><a href="https://donate.creativecommons.org/civicrm/event/info?reset=1&id=11" class="btn btn-success btn-lg">Register now</a></p>

<p class="text-center">We have opportunities for scholarships to cover travel and accommodation costs.</p>
		    
                </div>
            </div>
        </div>
    </section>

<!-- Call for Logo Section -->
    <section id="call-for-logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Logo</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center"><a href="https://logo.cckorea.org" class="btn btn-success btn-lg">Participate</a></p>

<p class="text-center">In anticipation of the Creative Commons Global Summit 2015,<br> Creative Commons Korea, the host of the event,<br> is pleased to launch a Logo Design Competition.</p>
            
                </div>
            </div>
        </div>
    </section>