
  <section id="logo-open">
    <div class="container">

      <div class="row notice">

        <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">

          <div class="contents">

            <div class="application">
              <div class="ap-content">
                <p><img class="img-responsive img-centered" src="/img/logo-icon.png" alt="icon" /></p>
                <p>&nbsp;</p>
                <hr />
                <h1 id="logo-heading-en" class="text-center">CC Global Summit 2015를 함께 할 로고에 투표해주세요!</h1>
                <div class="text text-center">
                  <p>
                    공유와 개방의 가치를 믿고, 긍정적인 변화를 만들어내는<br />
                    사람들의 즐거운 축제가 10월, 한국에서 열립니다.
                  </p>
                  <p>
                    한국에서 펼쳐질 CC Global Summit 2015 로고 공모가<br />
                    지난 6월 8일부터  7월 7일까지 진행되었습니다.
                  </p>
                  <p>&nbsp;</p>
                  <div class="alert alert-info">
                    <p>
                    접수된 아래 작품 중,<br />
                    CC Global Summit 2015와 가장 잘 어울리는 로고에 투표해주세요!<br />
                    (여러 작품 투표 가능, 한 작품에 중복 투표 불가)
                    </p>
                    <p>온라인 투표: <em>7.8 ~ 7.15 (UTC)</em></p>
                  </div>
                  <p>온라인 투표와 심사 위원 평가를 거쳐 수상작은 7월 23일에 발표됩니다.</p>
                </div>
              </div>
            </div>

            <div class="row sub-section">
              <div class="col-sm-8 col-sm-offset-2 box clearfix">
                <div class="card">
                  <div class="prize">
                    <p>수상 특전:</p>
                    <ul>
                      <li>- 상금 500달러 (상금 수령과 관련하여 세금 등이 발생할 수 있음.<br />관련 안내는 수상자에게 직접 연락 예정)</li>
                      <li>- Summit 현장에서 수상자 및 수상 작품 소개</li>
                    </ul>  
                  </div>
                </div>
              </div>
              <div class="text-center block-apply clearfix">
                <p><a class="btn btn-default btn-apply" href="http://logo.cckorea.org"><i class="fa fa-check"></i> 투표하기</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- .notice -->

      <div class="row">
        
      </div>

      <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>CC Global Summit 2015의 후원, 프로그램 공동 기획, 언론 보도 등을 함께 하고 싶으신 분은 언제든지 연락주세요!</h2>
          <p><strong>오픈소스 개발자, 오픈 콘텐츠 작업자, 박물관/ 미술관/ 도서관 담당자, 관련 정부 기관, 기업, 커뮤니티 등과의 협력을 기다립니다.</strong></p>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-8 col-xs-offset-2">
              <img class="img-responsive img-centered" src="/img/contact.png" alt="contact" />
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
