<h3 id="day-0.-wednesday-october-14th-welcoming-day">Day 0. Wednesday, October 14th – welcoming day</h3>
<ul>
<li>Type – Mini-conferences/networking/party</li>
<li>Where – TBD, Korea House</li>
<li>Who – CC network</li>
<li>Interpretation available – No</li>
</ul>
<h4 id="lunch-cc-cookoff">Lunch – CC Cookoff</h4>
<ul>
<li>Venue – TBD</li>
</ul>
<h4 id="afternoon">Afternoon</h4>
<ul>
<li>Venue – TBD</li>
</ul>
<h5 id="program">Program</h5>
<ul>
<li>Regional meetings</li>
<li>Affiliate Network discussions</li>
<li>Other mini-conferences</li>
</ul>
<h4 id="dinner-welcome-reception-cc-arts-happening-concert">Dinner – Welcome Reception + CC Arts Happening Concert</h4>
<ul>
<li>Venue – Korea House</li>
</ul>
<hr />
<h2 id="celebration-of-sharing">Celebration of Sharing</h2>
<h3 id="day-1.-thursday-october-15th-public-conference">Day 1. Thursday, October 15th – public conference</h3>
<ul>
<li>About – Public facing event celebrating and highlighting the value of CC</li>
<li>Type – public/formal/conference</li>
<li>Where – National Museum of Korea, Korea House</li>
<li>Who – Korean public, CC network, communities</li>
<li>Interpretation available – Yes</li>
</ul>
<h4 id="breakfast">Breakfast</h4>
<ul>
<li>Venue – National Museum</li>
<li>Coffee bar at the venue</li>
</ul>
<h4 id="morning">Morning</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h5 id="main-auditorium">Main auditorium</h5>
<ul>
<li>Opening Remarks – Ryan Merkley, Jay Yoon</li>
<li>Keynote 1 – TBA</li>
<li>Keynote 2 – TBA</li>
<li>Keynote 3 – TBA</li>
</ul>
<h4 id="lunch-museum-restaurantfoodcourt">Lunch – museum restaurant/foodcourt</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h4 id="afternoon-1">Afternoon</h4>
<ul>
<li>Venue – TBD</li>
</ul>
<h5 id="main-auditorium-1">Main auditorium</h5>
<ul>
<li>Speeches/discussions around sharing/free culture by topic (OER, open data, open access, net neutrality, platform, open GLAM etc.)</li>
<li>Sessions co-organized by local, CC, and communities</li>
<li>Closing keynote – Cho PD (Korean musician who released his song under a CC license)</li>
</ul>
<h5 id="small-auditorium">Small auditorium</h5>
<ul>
<li>CC showcases by area/region</li>
</ul>
<h4 id="dinner-affliate-dinner">Dinner – Affliate Dinner</h4>
<ul>
<li>Venue – Korea House</li>
</ul>
<hr />
<h2 id="the-work-of-sharing">The Work of Sharing</h2>
<h3 id="day-2.-friday-october-16th-collaboration-playground-for-all">Day 2. Friday, October 16th – Collaboration (Playground for all)</h3>
<ul>
<li>About – Working groups collaborate on solving the issues of today</li>
<li>Type – workshops/unconference/collaboration/interactive</li>
<li>Where – National Museum of Korea</li>
<li>Who – CC network, communities</li>
<li>Interpretation available – Only for main auditorium</li>
</ul>
<h4 id="breakfast-1">Breakfast</h4>
<ul>
<li>Coffee bar at the venue</li>
<li>Venue – National Museum</li>
</ul>
<h4 id="morning-1">Morning</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h5 id="main-auditorium-2">Main Auditorium</h5>
<ul>
<li>Opening Keynote – TBD</li>
<li>Academic presentations: CC research projects</li>
<li>CC language specific meetings</li>
<li>Wikipedia edit-a-thon on Creative Commons</li>
</ul>
<h5 id="small-auditorium-1">Small Auditorium</h5>
<ul>
<li>Copyright reform and open policy</li>
</ul>
<h5 id="seminar-room">Seminar room</h5>
<ul>
<li>Tech and mobile – The List, Chooser, Search, tracking use, etc</li>
<li>CC language specific meetings</li>
<li>CC legal</li>
</ul>
<h4 id="lunch-catered">Lunch – Catered</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h4 id="afternoon-2">Afternoon</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h5 id="main-auditorium-3">Main Auditorium</h5>
<ul>
<li>Advancing CC use in education, GLAM, etc.</li>
<li>CC open business models</li>
<li>CC music collaboration</li>
<li>Closing Keynote</li>
</ul>
<h5 id="small-auditorium-2">Small Auditorium</h5>
<ul>
<li>CC film festival</li>
<li>CC Fashion show</li>
</ul>
<h5 id="seminar-room-1">Seminar room</h5>
<ul>
<li>Wiki and CC</li>
<li>Platform and CC</li>
</ul>
<h4 id="dinner-cc-party">Dinner – CC Party</h4>
<ul>
<li>Venue – TBD</li>
</ul>
<hr />
<h2 id="the-future-of-sharing">The Future of Sharing</h2>
<h3 id="day-3.-saturday-october-17th-cc-strategy-meeting">Day 3. Saturday, October 17th – CC Strategy Meeting</h3>
<ul>
<li>About – series of meetings/programs/workshops around CC and activities of global CC community</li>
<li>Type – internal/discussion/workshop/meeting</li>
<li>Where – National Museum of Korea</li>
<li>Who – CC network</li>
<li>Interpretation available – No</li>
</ul>
<h4 id="breakfast-2">Breakfast</h4>
<ul>
<li>Coffee bar at the venue</li>
<li>Venue – National Museum</li>
</ul>
<h4 id="morning-2">Morning</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h5 id="main-auditorium-4">Main Auditorium</h5>
<ul>
<li>Opening Keynote – Ryan Merkley</li>
<li>CC Strategy Meeting</li>
<li>Panel on big picture of CC</li>
<li>The role/future of the affiliate network</li>
<li>Q&amp;A with Ryan and the Board</li>
</ul>
<h4 id="lunch-catered-1">Lunch – Catered</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h4 id="afternoon-3">Afternoon</h4>
<ul>
<li>Venue – National Museum</li>
</ul>
<h5 id="main-auditorium-5">Main Auditorium</h5>
<ul>
<li>CC Ignite – CC affiliates – Recognize/appreciate/celebrate affiliates’ achievement/contribution, share stories of CC volunteers/</li>
<li>Closing Keynote – TBD</li>
</ul>
