<!&mdash; About Section &mdash;>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Program draft</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">


	<p>The Global Summit brings together the community of
	  experts, academics, and activists who comprise the Creative Commons
	  affiliate network in a different country every two years.</p>

	<h3>Day 0. Wednesday, October 14th &mdash; welcoming day</h3>

	<ul>
	  <li>Sub-theme &mdash; N/A</li>
	  <li>Type &mdash; Mini-conferences/networking/party</li>
	  <li>Where? &mdash; TBD, Korea House</li>
	  <li>Who? &mdash; CC network</li>
	  <li>Interpretation available? &mdash; No</li>
	</ul>

	<h4>Lunch &mdash; CC Cookoff</h4>

	<ul>
	  <li>Venue &mdash; TBD</li>
	</ul>

	<h4>Afternoon</h4>

	<ul>
	  <li>Venue &mdash; TBD</li>
	</ul>

	<h5>Program</h5>

	<ul>
	  <li>Regional meetings</li>
	  <li>Affiliate Network discussions</li>
	  <li>Other mini-conferences</li>
	</ul>

	<h4>Dinner &mdash; Welcome Reception + CC Arts Happening Concert</h4>

	<ul>
	  <li>Venue &mdash; Korea House</li>
	</ul>

	<hr />

	<h3>Day 1. Thursday, October 15th &mdash; public conference</h3>

	<ul>
	  <li>Sub-theme &mdash; Celebration of Sharing</li>
	  <li>About &mdash; Public facing event celebrating and highlighting the value of CC</li>
	  <li>Type &mdash; public/formal/conference</li>
	  <li>Where? &mdash; National Museum of Korea, Korea House</li>
	  <li>Who? &mdash; Korean public, CC network, communities</li>
	  <li>Interpretation available? &mdash; Yes</li>
	</ul>

	<h4>Breakfast</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	  <li>Coffee bar at the venue</li>
	</ul>

	<h4>Morning</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h5>Main auditorium</h5>

	<ul>
	  <li>Opening Remarks &mdash; Ryan Merkley, Jay Yoon</li>
	  <li>Keynote 1 &mdash; TBA</li>
	  <li>Keynote 2 &mdash; TBA</li>
	  <li>Keynote 3 &mdash; TBA</li>
	</ul>

	<h4>Lunch &mdash; museum restaurant/foodcourt</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h4>Afternoon</h4>

	<ul>
	  <li>Venue &mdash; TBD</li>
	</ul>

	<h5>Main auditorium</h5>

	<ul>
	  <li>Speeches/discussions around sharing/free culture by topic (OER, open data, open access, net neutrality, platform, open GLAM etc.)</li>
	  <li>Sessions co-organized by local, CC, and communities</li>
	  <li>Closing keynote &mdash; Cho PD (Korean musician who released his song under a CC license)</li>
	</ul>

	<h5>Small auditorium</h5>

	<ul>
	  <li>CC showcases by area/region</li>
	</ul>

	<h4>Dinner &mdash; Affliate Dinner</h4>

	<ul>
	  <li>Venue &mdash; Korea House</li>
	</ul>

	<hr />

	<h3>Day 2. Friday, October 16th &mdash; Collaboration (Playground for all)</h3>

	<ul>
	  <li>Sub-theme &mdash; The Work of Sharing</li>
	  <li>About &mdash; Working groups collaborate on solving the issues of today</li>
	  <li>Type &mdash; workshops/unconference/collaboration/interactive</li>
	  <li>Where? &mdash; National Museum of Korea</li>
	  <li>Who? &mdash; CC network, communities</li>
	  <li>Interpretation available? &mdash; Only for main auditorium</li>
	</ul>

	<h4>Breakfast</h4>

	<ul>
	  <li>Coffee bar at the venue</li>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h4>Morning</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h5>Main Auditorium</h5>

	<ul>
	  <li>Opening Keynote &mdash; TBD</li>
	  <li>Academic presentations: CC research projects</li>
	  <li>CC language specific meetings</li>
	  <li>Wikipedia edit-a-thon on Creative Commons</li>
	</ul>

	<h5>Small Auditorium</h5>

	<ul>
	  <li>Copyright reform and open policy</li>
	</ul>

	<h5>Seminar room</h5>

	<ul>
	  <li>Tech and mobile &mdash; The List, Chooser, Search, tracking use, etc</li>
	  <li>CC language specific meetings</li>
	  <li>CC legal</li>
	</ul>

	<h4>Lunch &mdash; Catered</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h4>Afternoon</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h5>Main Auditorium</h5>

	<ul>
	  <li>Advancing CC use in education, GLAM, etc.</li>
	  <li>CC open business models</li>
	  <li>CC music collaboration</li>
	  <li>Closing Keynote</li>
	</ul>

	<h5>Small Auditorium</h5>

	<ul>
	  <li>CC film festival</li>
	  <li>CC Fashion show</li>
	</ul>

	<h5>Seminar room</h5>

	<ul>
	  <li>Wiki and CC</li>
	  <li>Platform and CC</li>
	</ul>

	<h4>Dinner &mdash; CC Party</h4>

	<ul>
	  <li>Venue &mdash; TBD</li>
	</ul>

	<hr />

	<h3>Day 3. Saturday, October 17th &mdash; CC Strategy Meeting</h3>

	<ul>
	  <li>Sub-theme &mdash; The Future of Sharing</li>
	  <li>About &mdash; series of meetings/programs/workshops around CC and activities of global CC community</li>
	  <li>Type &mdash; internal/discussion/workshop/meeting</li>
	  <li>Where? &mdash; National Museum of Korea</li>
	  <li>Who? &mdash; CC network</li>
	  <li>Interpretation available? &mdash; No</li>
	</ul>

	<h4>Breakfast</h4>

	<ul>
	  <li>Coffee bar at the venue</li>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h4>Morning</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h5>Main Auditorium</h5>

	<ul>
	  <li>Opening Keynote &mdash; Ryan Merkley</li>
	  <li>CC Strategy Meeting</li>
	  <li>Panel on big picture of CC</li>
	  <li>The role/future of the affiliate network</li>
	  <li>Q&amp;A with Ryan and the Board</li>
	</ul>

	<h4>Lunch &mdash; Catered</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h4>Afternoon</h4>

	<ul>
	  <li>Venue &mdash; National Museum</li>
	</ul>

	<h5>Main Auditorium</h5>

	<ul>
	  <li>CC Ignite &mdash; CC affiliates &mdash; Recognize/appreciate/celebrate affiliates' achievement/contribution, share stories of CC volunteers/</li>
	  <li>Closing Keynote &mdash; TBD</li>
	</ul>

      </div>
    </div>
  </div>
</section>
