    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<p>We'll be updating this page frequently so check back to see all of our speakers.</p>

		<!-- keep this list in alphabetical order -->

		<figure id="lilatretikov" class="r">
		  <h3>Lila Tretikov</h3>

		  <img class="img-circle" src="/img/Lila_Tretikov_600.jpg" />

		  <p><a href="https://en.wikipedia.org/wiki/Lila_Tretikov">Lila Tretikov</a> is the Executive Director of the Wikimedia Foundation, the nonprofit organization that operates Wikipedia. Wikipedia is freely available in 290 languages and used by nearly half a billion people around the world every month.</p>

		  <small><a href="https://en.wikipedia.org/wiki/File:Lila_Tretikov_16_April_2014_(3).jpg">Lila Tretikov</a> by <a href="http://fetching.net/">Lane Hartwell</a>, available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a> license.</small>

		</figure>


		<figure id="yochaibenkler" class="l">
		  <h3>Yochai Benkler</h3>

		  <img class="img-circle" src="/img/yochai_benkler.jpg" />

		  <p><a href="https://en.wikipedia.org/wiki/Yochai_Benkler">Yochai Benkler</a> is the Berkman Professor of Entrepreneurial Legal Studies at Harvard Law School. He studies commons-based peer production, and published his seminal book <i>The Wealth of Networks</i> in 2006.</p>

		  <small><a href="https://www.flickr.com/photos/joi/1932607449/">Yochai Benkler</a> by <a href="https://www.flickr.com/photos/joi/">Joi Ito</a>, available under the <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a> license.</small>

		</figure>

		<figure id="juliareda" class="r">
		  <h3>Julia Reda</h3>

		  <img class="img-circle" src="/img/julia_reda.jpg" />

		  <p><a href="https://en.wikipedia.org/wiki/Julia_Reda">Julia Reda</a> is a Member of the European Parliament and rapporteur of the Parliament’s current review of the 2001 EU Copyright Directive. Reda’s report outlining potential changes to EU copyright law was approved by the Parliament in July.</p>

		  <small><a href="https://secure.flickr.com/photos/okfde/17985868034/">Julia Reda</a> by <a href="https://secure.flickr.com/photos/okfde/">Open Knowledge Foundation Deutschland</a>, available under the <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a> license.</small>

		</figure>

		<figure id="ryanmerkley" class="l">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p><a href="https://creativecommons.org/staff/ryan">Ryan Merkley</a> is the CEO of Creative Commons, the global nonprofit that enables the sharing and use of creativity and knowledge through free legal tools. Ryan was Chief Operating Officer of the Mozilla Foundation, the nonprofit parent of the Mozilla Corporation, creator of Firefox.</p>

		  <small><a href="https://creativecommons.org/wp-content/uploads/2014/05/ryanmerkley1-600.jpg">Ryan Merkley</a> by Rannie Turingan, available under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</small>
		</figure>

<!-- 
		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

-->

              </div>
            </div>
        </div>
    </section>
