    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<!-- keep this list in alphabetical order -->

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

		<figure id="ryanmerkley" class="r">
		  <h3>Ryan Merkley</h3>

		  <img class="img-circle" src="/img/ryanmerkley.jpg" />

		  <p>Ryan Merkley, CEO at Creative
		    Commons. Dad. Geek. Amateur barista. Loves things that
		    are (or should be) open, like government, data, and
		    24-hour diners.</p>

		  <p><a href="https://twitter.com/ryanmerkley" class="twitter">@ryanmerkley</a></p>

		</figure>


		<figure id="mattl" class="l">
		  <h3>Matt Lee</h3>

		  <img class="img-circle" src="/img/mattl.jpg" />

		  <p>Matt Lee, Technical Lead at Creative Commons. A
		  huge fan of obscure and usually terrible TV shows
		  and movies you've forgotten all about. Making his
		  own movie, Orang-U, founder of Libre.fm and the GNU
		  social project.</p>

		  <p><a href="https://twitter.com/dotbiz" class="twitter">@dotbiz</a></p>
		  <p><a href="https://twitter.com/mattl" class="twitter">@mattl</a></p>

		</figure>

              </div>
            </div>
        </div>
    </section>
