 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Access the world’s leaders in online <br />collaboration, sharing, and remixing.</h3>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">

		<p class="text-center"><img src="/img/logos/privateinternetaccess.png" alt="" /></p>
		
              </div>
            </div>
    </section>
