 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Access the world’s leaders in online <br />collaboration, sharing, and remixing.</h3>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">

		<p class="text-center"><img src="/img/image03.png" alt="" class="img-responsive" /></p>
		
		<p>The Creative Commons Global Summit is the
		  signature, bi-annual gathering of legal, technology,
		  and academic professionals working to support the
		  growth and expansion of the Commons — free knowledge,
		  open culture, sharing and collaboration, in art,
		  technology, education, science, and more. A diverse
		  group of professionals will collaborate and celebrate
		  over three days to advance the cause of the public
		  commons for all.</p>
		
		<p>Previous Global Summits and gatherings have been held in Buenos
		  Aires, Argentina (2013), Warsaw, Poland (2011), Sapporo, Japan (2008),
		  Dubrovnik, Croatia (2007), Rio de Janeiro, Brazil (2006), and
		  Cambridge, Massachusetts (2002). Summits are hosted by Creative
		  Commons and a local volunteer planning group. This year’s summit will
		  be held October 15 to 17 in Seoul, South Korea.</p>
		<ul>
		  <li>Expected attendance in 2015: up to 350</li>
		  <li>40 to 50 plenary sessions planned</li>
		  <li>Over 72 nationalities represented</li>
		</ul>
		<h3 id="who-attends-the-creative-commons-global-summit">Who attends
		  the Creative Commons Global Summit?</h3>
		<ul>
		  <li>Diverse and passionate technologists from around the world</li>
		  <li>Legal experts in intellectual property, technology and law, free
		    speech, and copyright</li>
		  <li>Technology leaders, software and web professionals</li>
		  <li>Researchers and academics</li>
		  <li>Teachers and education professionals</li>
		  <li>Free culture and free/open-source advocates</li>
		  <li>NGO, government, and nonprofit leaders</li>
		  <li>Professionals from galleries, libraries, archives and museums</li>
		  <li>Philanthropic foundations</li>
		</ul>
		<h3 id="the-opportunity-right-now">The opportunity right now</h3>
		<p>There are nearly one billion CC licensed works hosted on some of
		  the most popular content platforms in the world (including Vimeo,
		  YouTube, Flickr, Wikipedia, Soundcloud - and recently Medium, edX, and
		  Wattpad), and over 9 million individual websites.</p>
		<p>Leaders in global education and government are now turning to CC
		  licensed textbooks as the central plank in their Open Educational
		  Resources (OER) strategies, eliminating or significantly lowering the
		  cost of education for learners.</p>
		<p>Politicians and activists around the world are fighting to make
		  government data and publicly-funded academic research freely shareable
		  and accessible to increase innovation and discovery. Creative Commons
		  is at the center of this international, high-profile movement, and the
		  CC Global Summit is the essential gathering to show your support for
		  this movement.</p>
		<p>Creative Commons is the globally-focused nonprofit organization
		  dedicated to making it easier for people to share their creative
		  works, and build upon the work of others, consistent with the rules of
		  copyright. Founded by Prof. Lawrence Lessig in 2001, Creative Commons
		  provides free licenses and other legal tools to give individuals and
		  organizations a simple, standardized way to grant copyright
		  permissions for creative work, ensure proper attribution, and allow
		  others to copy, distribute, and make use of those works.</p>
		<h3 id="creative-commons-reach-and-influence">Creative Commons’ reach
		  and influence</h3>
		<ul>
		  <li>Creative Commons collaborates and engages with leaders at top-50
		    global web properties, elite academic institutions, and NGOs
		    government orgs</li>
		  <li>Creative Commons reaches over 800K people via email lists and
		    social media</li>
		  <li>Our global network of over 100 affiliates provide true
		    international reach</li>
		  <li>A community of highly educated and passionate legal and
		    technological professionals</li>
		  <li>CC staff are thought leaders among prestigious philanthropic
		    organizations</li>
		</ul>
		<h3 id="sponsor-visibility-and-recognition">Sponsor visibility and
		  recognition</h3>
		<ul>
		  <li>CC Global Summit website</li>
		  <li>Official program and conference t-shirt</li>
		  <li>Venue signage and banners</li>
		  <li>Digital presentation / static slides</li>
		  <li>Press releases, social media, opening and closing
		    presentations</li>
		  <li>Flier or program material drop for conference bags</li>
		  <li>Vendor booth space available</li>
		</ul>
		<h3 id="speakers-and-plenary-sessions">Speakers and plenary
		  sessions</h3>

		<p>TBC, see <a href="/program-draft/">draft program</a>.</p>
		
		<h3 id="cc-global-summit-host-cc-korea">CC Global Summit host, CC
		  Korea</h3>
		<p>CC South Korea, the national affiliate organization for Creative
		  Commons in South Korea, was founded by legal and tech sector
		  volunteers in Seoul in January, 2009. As one of the most-active and
		  long-standing CC affiliate organizations, CC South Korea is a leader
		  in building national outreach strategies for promoting the CC
		  licenses. In South Korea they have worked closely with academic,
		  government, corporate, and cultural organizations to host outreach
		  events and promote the use of CC licenses to increase national
		  understanding of the Creative Commons movement.</p>
		<h3 id="about-creative-commons-korea">About Creative Commons
		  Korea:</h3>
		<ul>
		  <li>Started by volunteers in 2005, became a non-profit in 2009</li>
		  <li>Supported by about 300 volunteers from various fields from law,
		    technology, art, and education</li>
		  <li>Launched Let’sCC (http://eng.letscc.net) a search service for CC
		    licensed creative works which query data from several sources and
		    aggregate it into a single view, in 2009</li>
		  <li>Launched CodeNamu, a civic hacking group which also runs Code for
		    Seoul project, a brigade of Code for America in 2012</li>
		  <li>A major collaborating partner with Seoul in its Sharing City
		    policy. Runs Share Hub (http://english.sharehub.kr), a website which
		    provides useful information on sharing culture and practices to Seoul
		    citizens since 2013</li>
		  <li>Experiments with various art collaboration projects including CC
		    Art Happening Concert/Art Exhibition series, CC10Musicians mobile app,
		    etc.</li>
		</ul>
		<h4 id="for-more-information-contact">For more information,
		  contact:</h4>
		<ul>
		  <li>CC Korea: Jennifer Kang, <a href="mailto:hskang@cckorea.org">hskang@cckorea.org</a></li>
		  <li>CC Global HQ: Ryan Merkley, <a href="mailto:ryan@creativecommons.org">ryan@creativecommons.org</a></li>
		</ul>

				<p class="text-center"><img src="/img/image01.jpg" alt="" class="img-responsive" /></p>

                </div>
            </div>
        </div>
    </section>
