 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Lead sponsor</h3>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">

		<p class="text-center"><img src="/img/logos/privateinternetaccess.png" alt="" /></p>

		
              </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Platinum sponsors</h3>
                    <hr class="star-primary">
                </div>
            </div>

	    
            <div class="row">
              <div class="col-lg-4">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/mocst.png" alt="" /></p>	
              </div>
              <div class="col-lg-4">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/macarthur.png" alt="" /></p>	
              </div>
              <div class="col-lg-4">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/stackcommerce.png" alt="" /></p>	
              </div>
            </div>

	    <div class="row">
	      <div class="col-lg-12">
				<p class="text-center"><a href="https://www.korra.kr/jsp/board/BoardCtrl.jsp?ACT_CD=DVW&SET_BBS_ID=notice&SET_BBS_CONTROL=INFO_100000100000000000&SET_BBS_NAVI=%C1%A4%BA%B8%2F%BE%CB%B8%B2%2F%BB%F3%B4%E3+%3E+%BE%CB%B8%B2%2F%BB%F3%B4%E3+%3E+%B0%F8%C1%F6%BB%E7%C7%D7&BBS_ID=notice&L=null&M=null&S=null&menuCodeL=null&SEQ=3907&PAGE_NO=3&SEQ_FILE=&TITLE=&LIST_TOTAL_COUNT=305&S_SELECT=TITLE&S_KEYWORD=">Korea Reproduction and Transmission Rights Association</a></p>

	      </div>
	    </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Gold sponsors</h3>
                    <hr class="star-primary">
                </div>
            </div>
	    

	    <div class="row">
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/mozilla.png" alt="" /></p>
	      </div>
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/google.png" alt="" /></p>
	      </div>
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/naver.png" alt="" /></p>
	      </div>
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/kakao.png" alt="" /></p>
	      </div>
	    </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Silver sponsors</h3>
                    <hr class="star-primary">
                </div>
            </div>

	    
	    <div class="row">
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/seoulcity.png" alt="" /></p>
	      </div>
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/wikimedia.png" alt="" /></p>
	      </div>
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/wikihow.png" alt="" /></p>
	      </div>
	      <div class="col-lg-3">
		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/mozilla.png" alt="" /></p>
	      </div>
	    </div>

	      <div class="row">
              <div class="col-lg-12">

		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/nabi.png" alt="" /></p>


		
              </div>
              </div>

	        <div class="row">
              <div class="col-lg-12">

		<p class="text-center"><img style="max-width: 200px;" src="/img/logos/bloter.png" alt="" /></p>


		
              </div>
            </div>


    </section>
