<section id="streaming">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Streaming the event live</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
		<p><img src="/img/gs-logo.png" alt="" class="img-responsive" /></p>
        <p>The CC Global Summit live stream from Seoul, Korea will be available starting on Thursday October 14th at 10am local time in Seoul (Thursday 1am UTC, Wednesday 9pm EST). Please join us!</p>
        <br>

        <h4>CC SUMMIT Day 1: Celebration of Sharing<br>(Opening, Track 1 &amp; 3, Keynote)</h4>
        <p>National Museum of Korea Main Auditorium<br>
          2015/10/15 01:00 (UTC)<br>
          <a href="https://www.youtube.com/watch?v=0gymWQg6kN8">https://www.youtube.com/watch?v=OgymWQg6kN8</a></p>
        <br>

        <h4>CC SUMMIT Day 1: Celebration of Sharing WEB CAST<br>(Track 2, 4)</h4>
        <p>National Museum of Korea Lecture Room<br>
          2015/10/15 4:30 (UTC)<br>
          <a href="https://www.youtube.com/watch?v=adxnw7Kcpfc">https://www.youtube.com/watch?v=adxnw7Kcpfc</a></p>
        <br>

        <h4>CC SUMMIT Day 2: Work of Sharing<br>(Opening, Keynote, showcases of sharing)</h4>
        <p>National Museum of Korea Main Auditorium<br>
        2015/10/16 1:00 (UTC)<br>
        <a href="https://www.youtube.com/watch?v=yORNjoDTHcE">https://www.youtube.com/watch?v=yORNjoDTHcE</a></p>
        <br>

        <h4>CC SUMMIT Day 2: Work of Sharing WEBCAST<br>(Fair use and business)</h4>
        <p>National Museum of Korea Small Auditorium<br>
          2015/10/16 2:00 (UTC)<br>
          <a href="https://www.youtube.com/watch?v=RWUjhcVBjHo">https://www.youtube.com/watch?v=RWUjhcVBjHo</a></p>

      </div>
    </div>

  </div>
</section>
